

#navbar {
    position: fixed; /* Fixed position to stay on screen while scrolling */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 5%; /* 5% of the viewport height */
    background-color: #ffffff; /* Reddit's orange color, change as needed */
    z-index: 1000;
    display: flex; /* To align navigation items horizontally */
    align-items: center; /* Center items vertically within the navbar */
    padding: 0 10px; /* Add some padding on the sides */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: add shadow for depth */
}

#navbar a {
    text-decoration: none;
    color: #ff4500; /* Set the color of the links */
    padding: 0 15px; /* Add some padding to the links */
    white-space: nowrap; /* Prevent wrapping of nav items */
}

#navbar img {
  width: 2em;
  margin-right: 1em;
}

/* Add responsiveness to the navbar links on hover */
#navbar a:hover {
    background-color: #b76a3a25; /* Lighter shade of red for hover effect */
    transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

#search-form {
  display: flex; /* Aligns the search bar and button horizontally */
  margin-left: auto; /* Pushes the form to the right */
  margin-right: 20px; /* Right margin for spacing */
}

#search-bar {
  padding: 5px 10px; /* Padding inside the search bar */
  border: 1px solid #ddd; /* Light border for the search bar */
  border-radius: 2px; /* Rounded corners for the search bar */
  font-size: 16px; /* Font size for the search bar text */
  outline: none; /* Removes the default focus outline */
}

#search-bar::placeholder {
  color: #999; /* Color of the placeholder text */
}

#search-form button {
  padding: 5px 10px; /* Padding inside the search button */
  margin-left: 5px; /* Spacing between the search bar and button */
  border: none; /* Removes the border from the button */
  background-color: #ff4500; /* Background color of the button */
  color: white; /* Text color of the button */
  border-radius: 2px; /* Rounded corners for the button */
  cursor: pointer; /* Changes cursor to pointer when hovering over the button */
  font-size: 16px; /* Font size for the button text */
}

#search-form button:hover {
  background-color: #e57373; /* Background color on hover */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
}
